.front-llama-image{
	max-width: 100px;
	width: 100px;

}

.llama-baking img{
	height:120px;
	width:120px;
}

.celeb img{
	min-height:120px;
	min-width:120px;
	max-height:350px;
	max-width:350px;
	vertical-align:middle;
	display:inline-block;
}

.llama-carousel img{
	height:100%;
	width:500px;
	bottom:0;
	top:50px;
	display: block;
	margin-left: auto;
	margin-right: auto
	
}

.llama-circle-pic img{
	height:140px;
	width:140px;
}

.llama-test{
	color:aqua;
}

.llama-recipes-bar{
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	/*height:500px;
	width:350px;*/
	
}
.llama-recipes-bar img{
	height:175px;
	width:175px;
	margin:5px;
	padding:5px;
	border-width:5px;
	border-color:transparent;
	border-style:solid;
}

.llama-bar{
	height:70%;
	margin-bottom:12%;
	margin-top:12%;
	background-color:orange;
	border-radius:15px;
	padding:20px;
}

.recipe-format{
	border-width:10px;
	border-color:gray;
	border-style:solid;
}
.baking-title{
	background-color:DarkGray;
	color:white;
}
