.front-llama-image{
	max-width: 100px;
	width: 100px;

}

.llama-baking img{
	height:120px;
	width:120px;
}

.celeb img{
	min-height:120px;
	min-width:120px;
	max-height:350px;
	max-width:350px;
	vertical-align:middle;
	display:inline-block;
}

.llama-carousel{
	height:100%;
	width:50%;
	bottom:0;
	top:50px;
	display: block;
	margin-left: auto;
	margin-right: auto
	
}

.llama-test{
	color:blue;
}
