.front-llama-image{
	max-width: 100px;
	width: 100px;

}

.llama-baking img{
	height:120px;
	width:120px;
}

.celeb img{
	min-height:120px;
	min-width:120px;
	max-height:350px;
	max-width:350px;
	vertical-align:middle;
	display:inline-block;
}

.llama-carousel img{
	background-size: cover;
    	background-repeat: no-repeat;
    	background-position: 50% 50%;
    
	/*height:100%;
	width:500px;
	bottom:0;
	top:50px;
	display: block;
	margin-left: auto;
	margin-right: auto*/
	
}

.llama-circle-pic img{
	height:140px;
	width:140px;
}

.llama-test{
	color:aqua;
}

.llama-recipes-bar{
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	/*height:500px;
	width:350px;*/
	
}
.llama-recipes-bar img{
	height:180px;
	width:180px;
	margin:5px;
	border-width:5px;
	border-color:white;
	border-style:solid;
	border-radius:15px;
	padding:5px;
}

.llama-bar{
	height:80%;
	min-height:80%;
	margin-bottom:15%;
	background-color:LightGray;
	border-width:20px;
	border-color:DarkGray;
	border-radius:15px;
	padding-top:0;
	padding-bottom:10px;
}

.recipe-format{
	border-width:10px;
	border-color:gray;
	border-style:solid;
	top:0;
	border-radius:15px;
}
.baking-title{
	background-color:DarkGray;
	color:white;
	padding:15px;
	border-radius:15px;
	width:100%;
	margin:0;
}

.celeb-back{
	vertical-align:middle;
	background-color:white;
	border: 10px solid DarkGray;
  	outline: 10px solid pink;
}

.celeb-back img{
	display: block;
    	margin-left: auto;
    	margin-right: auto;
}
